<nav class="navbar navbar-dark bg-dark text-white">
	<div class="container-fluid justify-content-center">
		<span class="navbar-text">
			<div class="fw-bold fs-3"
				style="color: #ffffff;">
				ON BILLBOARD
			</div>
		</span>
	</div>
</nav>

<div class="p-5">
	<div class="d-flex justify-content-end">
		<button class="btn btn-sm ml-2 btn-dark"
			type="button"
			data-bs-toggle="modal"
			data-bs-target="#exampleModal2">
			view favorites
			<svg xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				fill="currentColor"
				class="bi bi-bookmark-star-fill"
				style="color: white;"
				viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z"></path>
			</svg>
		</button>
	</div>

	<div class="card p-3 mt-3">
		<div class="row">
			<div *ngFor="let item of listMovies"
				class="col-lg-4 col-md-6 col-sm-12 mt-3 d-flex justify-content-center">
				<div class="card"
					style="width: 20rem; height: 30rem;">
					<img src="{{item.img}}"
						class="card-img-top"
						alt="{{item.img}}"
						style="height: 17rem;">
					<div class="card-body">
						<h5 class="card-title fs-5"
							style="height: 2rem;">
							{{item.Title}}
						</h5>
						<div class="row mb-2"
							style="height: 6rem;">
							<div class="col-lg-12">
								Genre: {{item.Genre}}
							</div>
							<div class="col-lg-12">
								ReleasedDate: {{item.ReleasedDate}}
							</div>
							<div class="col-lg-12">
								rating: {{item.Rating}}
							</div>
						</div>
						<div class="text-center"
							style="height: 2rem;">
							<a (click)="openModal(item.id, $event)"
								class="btn btn-dark">
								More Information
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-dark bg-dark text-white">
	<div class="container-fluid justify-content-center">
		<span class="navbar-text">
			<div class="fw-bold fs-5">&copy; 2023</div>
		</span>
	</div>
</nav>

<!-- modal -->
<ng-container *ngIf="modalDisplay$ | async as modalDisplay;">
	<div [ngStyle]="{'display':modalDisplay}"
		class="modal"
		tabindex="-1"
		role="dialog"
		id="exampleModal"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row d-felx justify-content-end"
						style="height: 1rem;">
						<button (click)="closeModal()"
							type="button"
							class="btn-close m-1"
							data-bs-dismiss="modal"
							aria-label="Close">
						</button>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<h1 class="display-4 fw-bolder fs-3">About Movie</h1>
							<div>
								Title: {{listMovies[id].Title}}
							</div>
							<div>
								Description: {{listMovies[id].Description}}
							</div>
							<div>
								Rating: {{listMovies[id].Rating}}
							</div>
							<div>
								duration: {{listMovies[id].duration}}
							</div>
							<div>
								Genre: {{listMovies[id].Genre}}
							</div>
							<div>
								Released date: {{listMovies[id].ReleasedDate}}
							</div>
							<div>
								TrailerLink:
								<a href="{{this.listMovies[this.id].TrailerLink}}"
									target="_blank">
									watch in youtube
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="d-flex justify-content-end">
							<button (click)="insertNew(this.id)"
								type="button"
								class="btn btn-white">
								<svg xmlns="http://www.w3.org/2000/svg"
									width="25"
									height="25"
									fill="currentColor"
									class="bi bi-bookmark-star-fill"
									style="color: red;"
									viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098z"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- Modal list favorites -->
<div class="modal fade"
	id="exampleModal2"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"
					id="exampleModalLabel">
					List of favorites
				</h5>
				<button type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body p-3">
				<div class="row">
					<div *ngFor="let item of listFavorites"
						class="col-lg-4 col-md-6 col-sm-12 mt-3 d-flex justify-content-center">
						<div class="card"
							style="width: 20rem; height: 30rem;">
							<img src="{{item.img}}"
								class="card-img-top"
								alt="{{item.img}}"
								style="height: 17rem;">
							<div class="card-body">
								<h5 class="card-title fs-5"
									style="height: 2rem;">
									{{item.Title}}
								</h5>
								<div class="row mb-2"
									style="height: 6rem;">
									<div class="col-lg-12">
										Genre: {{item.Genre}}
									</div>
									<div class="col-lg-12">
										ReleasedDate: {{item.ReleasedDate}}
									</div>
									<div class="col-lg-12">
										rating: {{item.Rating}}
									</div>
								</div>
								<div class="text-center"
									style="height: 2rem;">
									<a (click)="openModal(item.id, $event)"
										class="btn btn-dark">
										More Information
									</a>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="listFavorites == []">
						<div class="fw-bold">
							we don´t have elements in this list
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
